@{
    ViewData["Title"] = "Configuración de Juego";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <img src="imgs/configuracion.png" alt="">
    <form asp-area="" asp-controller="Home" asp-action="Comenzar" method="GET">
    
        <img src="/imgs/configuracion.png">
        <div class="form__label">
            <label for="nombre">Nombre</label>
            <input type="text" autocomplete="off" name="username" required>
        </div>
        <div>
            <select id="floatingSelectGrid" name="dificultad" aria-label="Elegir dificultad" required>
                <option value="" selected>Dificultad</option>
                @{ int i = 0;
                    foreach(var dificultad in ViewBag.dificultades){
                        i++;
                    <option value=@i>@dificultad.Nombre</option>
                    }
                }
                <option value="-1">Todas</option>
            </select>
        </div>
        <div>
            <select id="floatingSelectGrid" name="categoria" aria-label="Elegir dificultad" required>
                <option value="" selected>Categoria</option>
                @{ i = 0;
                    foreach(var categoria in ViewBag.categorias){
                        i++;
                    <option value=@i>@categoria.Nombre</option>
                    }
                }
                <option value="-1">Todas</option>
            </select>
        </div>
    
        <div class="form__div-submit">
            <input class="submit" id="comenzar" type="submit" value="Comenzar">
            <input class="submit" id="rehacer" type="reset" value="Rehacer">
        </div>
    </form>
</body>
</html>