@{
    ViewData["Title"] = "Fin";
}
<h1>@ViewData["Title"]</h1>

<main>
<h1>Muchas gracias por jugar</h1>
    <section>
        <img src="imgs/preguntados(1).jpg">
    </section> 
    <section>
        @ViewBag.username;
    </section>
    <section>
        @ViewBag.puntos; 
    </section>
    <section>
        <a href='@Url.Action("ConfigurarJuego" , "home" )'>Volver a jugar</a>
    </section>
</main>
