@{
    ViewData["Title"] = "Fin";
}
<h1>@ViewData["Title"]</h1>

<main>
    <section>
        <img src="/imgs/preg.webp">
    </section> 
    <section>
         @ViewBag.username;
    </section>
    <section>
        @ViewBag.puntos; 
    </section>
    <section>
        <a href='@Url.Action("ConfigurarJuego" , "home" )'>Volver a jugar</a>
    </section>
</main>
