@{
    ViewData["Title"] = "Fin";
}
<main>
<h1>Muchas gracias por jugar <u style="font-size:110%">@ViewBag.username</u>!</h1>
    <div style="text-align:center;">
        <img src="/imgs/imagen 1.jpeg">
        <span>Sacaste <u style="font-size:110%">@ViewBag.puntos</u> puntos</span>
        @if(ViewBag.puntos>0){
            <span>, felicidades!</span>
        }
    </div>
    <ul>
        <a href='@Url.Action("ConfigurarJuego")'><li class="index__button-play">Juguemos otra vez</li></a>
    </ul>
</main>
