@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<main>
    <section>
        <img src="img/preg.webp">
    </section> 
    <section>
         @ViewBag.username;
    </section>
    <section>
        @ViewBag.puntos; 
    </section>
    <section>
        <a href='@Url.Action("ConfigurarJuego" , "home" )'>Volver a jugar</a>
    </section>
</main>
