@{
    ViewData["Title"] = "Preguntados";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   @if(var correct in ViewBag.RespuestaCorrecta){
    <img src="img/correcto.gif"> /*Poner imagn de correcto*/
   }else{
     <img src=""> /*poner imagen de incorrecto*/
     @ViewBag.
   }
</body>
</html>
