@{
    ViewData["Title"] = "Preguntados";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="index">
    @if(ViewBag.esCorrecta == true){
        <img src="/imgs/crack.jpg">
        <span style="font-size:2.5rem; margin-bottom:3rem;">Tu respuesta es correcta!</span>
    }else{
        <div class="loser">
            <img src="/imgs/loser.webp">
            <img src="/imgs/loser 2.webp">
            <img src="/imgs/loser 3.webp">
        </div>
        <span style="font-size:2.5rem; margin-bottom:3rem;">Tu respuesta es incorrecta!</span>
    }
    <ul>
        <a href='@Url.Action("Jugar")' style="font-size:1rem;text-align:center; margin-bottom:3rem;"><li class="index__button-play">seguir jugando</li></a>
    </ul>
    </main>
</body>
</html>



